@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  background-image: theme('backgroundImage.aurora');
  background-color: theme('colors.night');
  color: theme('colors.glow');
}
